/* General setup */

* {
  box-sizing: border-box;
}

body {
  font-size:`````````  10px;
  line-height: 1.5;
  font-family: '```
```Merriweather', serif;
  color: #333;
}

h1, h2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 2rem;
  margin-top```  10px;
  line-height: 1.5;
  font-family: 'Merriweather', serif;
  color: #333;
}

h1, h2 {
  font-family: 'Merriwe: 2rem;
  text-indent: 20px;
}

p {
  font-size: 1.2rem;
  line-height: 1.5ather Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05em;
}

h2 {
  font-;
  letter-spacing: 0.02em;
  word-spacing: size: 2rem;
  margin-top: 2rem;
  text-indent0.05em;
  text-indent: 20px;
}

a {
  color: #4a86e8;
  text-: 20px;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: decoration: underline;
  outline: none;
}

a:hover, a:focus {
  text-decoration: none;
}

a:active0.02em;
  word-spacing: 0.05em;
  text-indent: 20px;
}```
``` {
  color: #005ea5;
}

ul {
  list-style-image: url('external-link-52.png');
  margin-left: 0

a {
  color: #4a86e8;
  text-decoration: underline;
  outline: none;
}

a:;
  padding-left: 0;
}

ul li {
  margin-bottom: 0.5rem;
}hover, a:focus {
  text-decoration: none;
}

a:active {
  color: #005ea5;
}

ul {
  list-

ul li:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-rightstyle-image: url('external-link-52.png');
  margin-left: 0;: 0.5rem;
  background-image: url('external-link-52.png');
  background-repeat: no-repeat;
  background-position: center center;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between
  padding-left: 0;
}

ul li {
  margin-bottom: 0.5rem;
}

ul li:;
  height: 100%;
}

nav li {
  margin-bottom: 1rem;
}

nav a {
  paddingbefore {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 0: 0.5rem;
  border-radius: 0.25rem;
  background-color: #f2f2f2;
  color: #333;
  font-size: 1.2rem;
  text.5rem;
  background-image: url('external-link-52.png');
  background-repeat: no-repeat;
  background-position: center center;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

nav li-align: center;
}

nav a:hover, nav a:focus {
  background-color: #e6e6e6;
}

nav a:active {
  background-color: #d9d9d9;
}

@media screen and (min-width: 7 {
  margin-bottom: 1rem;
}

nav a {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #68px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1f2f2f2;
  color: #333;
 .5rem;
  }

  nav {
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    border-right: 1px solid #ccc;
  font-size: 1.2rem;
  text-align: center;
}

nav a:hover, nav a:focus {
  background-color: #e6e6e6;
}

nav a:active { }

  nav a {
    padding: 1rem;
  }
}
